@tailwind base;
@tailwind components;
@tailwind utilities;

.bgOnActive, .background-linear:hover {
    background: linear-gradient(45deg, #4338ca, #6366f1, #8b5cf6, #6d28d9);
    background-size: 400% 400%; 
    animation: gradientAnimation 6s linear infinite alternate; 
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}